*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding-top: 75px;
}

img{
    max-width: 100%;
}

.debug{
    background-color: rgba(red, 0, 0, 0.25);
    border: 1px solid black;
}

.container{
    width: 75%;
    max-width: 1400px;
    margin: 0 auto;
}

/* HEADER */
header{
    position: fixed;
    display: flex;
    z-index: 999;
    align-items: center;
    background-color: #FF6900;
    height: 75px;
    width: 100%;
}

header .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .menu ul{
    list-style: none; 
    display: flex;
}

header .container .menu ul li{
    padding: 5px;
}

header .container .menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

header .container .menu ul li a:hover{
    text-decoration: underline;
}

header .menu .logo{
    width: 135px;
}

header .menu .icon i{
    color: #FFFDFC;
    font-size: 1rem;
    padding: 3px;

}
/* END HEADER */

/* MAIN */
main .row{
    padding: 60px 0px;
}

main .card{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 445px;
    margin-bottom: 60px;
    margin-right: 10px;
}

main .card .second-img{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.card .heart{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.5rem;
    padding: 15px 15px;
    background-color: #FFFFFF;
}

.card .discount{
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 5px 10px;
    color: #FFFFEF;
    font-size: .9rem;
    font-weight: bold;
    background-color: #FF0000;
}

.card .tag{
    position: absolute;
    bottom: 100px;
    left: 60px;
    padding: 5px 10px;
    color: #FFFFEF;
    font-size: .9rem;
    font-weight: bold;
    background-color: #008000;
}

main .row .card p,span{
    font-size: 0.9rem;
}

main .row .card p{
    display: inline-block;
    color: #FF0000;
    font-weight: bold;
}

main .row .card .cancelled{
    text-decoration: line-through;
}

main .row .card h2{
    text-transform: uppercase;
    font-size: 1rem;
}

main .row .card:hover .second-img{
    display: block;
}
/* END MAIN */